@import '@fortawesome/fontawesome-free/css/all.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body , html {
  padding: 0;
  margin: 0;
  top: 0;
  
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}



.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgb(177, 175, 175);
  opacity: 0.6;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: gray;
  opacity: 1;
}

.group-hover img {
  filter: blur(5px);
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

